Landing page for Elder & Ink. Use the links to navigate.
<h4>Indexes</h4>
<ul>
	<li><%= link_to "Posts", posts_path %></li>
	<li><%= link_to "Category", categories_path %></li>
	<li><%= link_to "Series", series_index_path %></li>
	<li><%= link_to "Tags", tags_path %></li>
	<li><%= link_to "Comments", comments_path %></li>
</ul>
<h4>New</h4>
<ul>
	<li><%= link_to "Post", new_post_path %></li>
	<li><%= link_to "Category", new_category_path %></li>
	<li><%= link_to "Series", new_series_path %></li>
	<li><%= link_to "Tag", new_tag_path %></li>
	<li><%= link_to "Comment", new_comment_path %></li>
</ul>