<%= simple_form_for [:admin, @series] do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title, label_html: { class: 'label-block' }, input_html: { class: 'form-full-width'} %>
  </div>
  <div class="field">
    <%= f.input :banner_image, :as => :file, label_html: { class: 'label-block' } %>
  </div>
  <div class="field">
    <%= f.input :description, label_html: { class: 'label-block' }, input_html: { class: 'form-full-width'} %>
  </div>
  <div class="field">
    <%= f.association :posts, label_html: { class: 'label-block' }, input_html: { class: 'form-full-width'} %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
