<%= render "posts/post_block", post: @post %>
<div id="post-navigation">
	<div class="nav-block left">
		<%= link_to(@post.previous_post.title, @post.previous_post) if @post.previous_post %>
	</div>
	<div class="nav-block center">
		<%= link_to "Home", root_path %>
	</div>
	<div class="nav-block right">
		<%= link_to(@post.next_post.title, @post.next_post) if @post.next_post %>
	</div>
</div>
<div class="post-comments" id="comments" >
  <%= render "post_comments", post: @post %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
