<h2><%= @category.title %></h2>
<%= render 'shared/if_image_exists', image: @category.banner_image, warn: true %>
<p><%= @category.description %></p>
<% unless @category.posts.blank? %>
  <% @category.posts.each do |post| %>
    <%= render 'posts/post_block_thumb', post: post %>
  <% end %>
<% else %>
	<p>No posts have been posted in this category yet. Return to the <%= link_to "home page", root_path %>.</p>
<% end %>
<% if can? :update, Category %>
  <div class="clear"><%= link_to 'Edit Category', edit_category_path(@category) %></div>
<% end %>
