<p id="notice"><%= notice %></p>

<h2>Series: <%= @series.title %></h2>

<%= render 'shared/if_image_exists', image: @series.banner_image, warn: true %>

<%= @series.description %>

<% @series.posts.paginate(:page => params[:page], :per_page => 3).each do |post| %>
  <%= render 'posts/post_block', post: post %>
  <%= render 'posts/post_comment_count', post: post %>
<% end %>
<%= will_paginate @series.posts.paginate(:page => params[:page], :per_page => 3) %>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
